<form action="/farmacias/new" method="post">
  <p>
    Nombre:
    <input type="text" name="nombre">
  </p>
  <p>
    Dirección:
    <input type="text" name="direccion">
  </p>
  <p>
    Foto URL:
    <input type="text" name="photoURL">
  </p>
  <p>
    <input type="submit" value="puchale">
  </p>

</form>